@page "/tables"



<div class="flex flex-wrap mt-4">
	<div class="w-full mb-12 px-4">
		<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white">
			<div class="rounded-t mb-0 px-4 py-3 border-0">
				<div class="flex flex-wrap items-center">
					<div class="relative w-full px-4 max-w-full flex-grow flex-1">
						<h3 class="font-semibold text-lg text-blueGray-700">
							Card Tables
						</h3>
					</div>
				</div>
			</div>
			<div class="block w-full overflow-x-auto">

				<table class="items-center w-full bg-transparent border-collapse">
					<thead>
						<tr>
							@foreach (var row in tableHeader)
							{
								<th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100">
									@row[0]
								</th>
							}
						</tr>
					</thead>
					<tbody>
						@foreach (var row in tableContent)
						{
							<tr>
								<th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center">
									<img src="@row[1]"
									 class="h-12 w-12 bg-white rounded-full border"
									 alt="..." />
									<span class="ml-3 font-bold text-blueGray-600">
										@row[0]
									</span>
								</th>
								<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
									@row[2]
								</td>
								<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
									<i class="fas fa-circle @row[7] mr-2"></i>
									@row[3]
								</td>
								<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
									<div class="flex">
										<img src="../../assets/img/team-1-800x800.jpg"
										 alt="..."
										 class="w-10 h-10 rounded-full border-2 border-blueGray-50 shadow" />
										<img src="../../assets/img/team-2-800x800.jpg"
										 alt="..."
										 class="w-10 h-10 rounded-full border-2 border-blueGray-50 shadow -ml-4" />
										<img src="../../assets/img/team-3-800x800.jpg"
										 alt="..."
										 class="w-10 h-10 rounded-full border-2 border-blueGray-50 shadow -ml-4" />
										<img src="../../assets/img/team-4-470x470.png"
										 alt="..."
										 class="w-10 h-10 rounded-full border-2 border-blueGray-50 shadow -ml-4" />
									</div>
								</td>
								<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
									<div class="flex items-center">
										<span class="mr-2">@row[4]</span>
										<div class="relative w-full">
											<div class="overflow-hidden h-2 text-xs flex rounded @row[5]">
												<div style="width: @row[4]"
												 class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center @row[6]"></div>
											</div>
										</div>
									</div>
								</td>
								<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right">
									<a href=""  class="text-blueGray-500 block py-1 px-3"
								   @onclick=@(() => ToggleNavMenu("user"))>
										<i class="fas fa-ellipsis-v"></i>
									</a>
									@*<div>
										<button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
											<i class="fas fa-ellipsis-v"></i>
										</button>
									</div>*@
								@*	<div class="hidden absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
										<div class="py-1" role="none">
											<!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
											<a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Account settings</a>
											<a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Support</a>
											<a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">License</a>											
										</div>
									</div>*@
									<div class="@NavMenuCssClassNav bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg min-w-48"
								id="table-light-1-dropdown">
								<a href="#pablo"
								class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Action</a><a href="#pablo"
								class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Another action</a><a href="#pablo"
								class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Something else here</a>
								<div class="h-0 my-2 border border-solid border-blueGray-100"></div>
								<a href="#pablo"
								class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Seprated link</a>
								</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="w-full mb-12 px-4">
		<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-pink-900 text-white">
			<div class="rounded-t mb-0 px-4 py-3 border-0">
				<div class="flex flex-wrap items-center">
					<div class="relative w-full px-4 max-w-full flex-grow flex-1">
						<h3 class="font-semibold text-lg text-white">
							Card Tables
						</h3>
					</div>
				</div>
			</div>
			<div class="block w-full overflow-x-auto">

				<!-- Projects table -->
				<table class="items-center w-full bg-transparent border-collapse">
					<thead>
						<tr>
							@foreach (var row in tableHeader)
							{
								<th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-pink-800 text-pink-300 border-pink-700">
									@row[0]
								</th>
							}
						</tr>
					</thead>
					<tbody>
						@foreach (var row in tableContent)
						{
							<tr>
								<th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center">
									<img src="@row[1]"
									 class="h-12 w-12 bg-white rounded-full border"
									 alt="..." />
									<span class="ml-3 font-bold text-white">
										@row[0]
									</span>
								</th>
								<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
									@row[2]
								</td>
								<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
									<i class="fas fa-circle @row[7] mr-2"></i>
									@row[3]
								</td>
								<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
									<div class="flex">
										<img src="../../assets/img/team-1-800x800.jpg"
										 alt="..."
										 class="w-10 h-10 rounded-full border-2 border-blueGray-50 shadow" />
										<img src="../../assets/img/team-2-800x800.jpg"
										 alt="..."
										 class="w-10 h-10 rounded-full border-2 border-blueGray-50 shadow -ml-4" />
										<img src="../../assets/img/team-3-800x800.jpg"
										 alt="..."
										 class="w-10 h-10 rounded-full border-2 border-blueGray-50 shadow -ml-4" />
										<img src="../../assets/img/team-4-470x470.png"
										 alt="..."
										 class="w-10 h-10 rounded-full border-2 border-blueGray-50 shadow -ml-4" />
									</div>
								</td>
								<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
									<div class="flex items-center">
										<span class="mr-2">@row[4]</span>
										<div class="relative w-full">
											<div class="overflow-hidden h-2 text-xs flex rounded @row[5]">
												<div style="width: @row[4]"
												 class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center @row[6]"></div>
											</div>
										</div>
									</div>
								</td>
								<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right">
									<a href="#pablo"
								   class="text-blueGray-500 block py-1 px-3"
								   onclick="openDropdown(event,'table-dark-1-dropdown')">
										<i class="fas fa-ellipsis-v"></i>
									</a>
									<div class="hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg min-w-48"
									 id="table-dark-1-dropdown">
										<a href="#pablo"
									   class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Action</a><a href="#pablo"
																															   class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Another action</a><a href="#pablo"
																																																														  class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Something else here</a>
										<div class="h-0 my-2 border border-solid border-blueGray-100"></div>
										<a href="#pablo"
									   class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">Seprated link</a>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>



@code {

	private bool isHidden = true;

	public string? NavMenuCssClassNav = "hidden";

	private void ToggleNavMenu(string item)
	{		
		isHidden = !isHidden;			
		NavMenuCssClassNav = isHidden ? "hidden" : "block";
	}

	List<List<string>> tableHeader = new List<List<string>>
	{
		new List<string> {"Project",""  },
		new List<string> {"Budget",""  },
		new List<string> {"Status",""  },
		new List<string> {"Users",""  },
		new List<string> {"Completion",""  },
		new List<string> {"",""  },
	};

	List<List<string>> tableContent = new List<List<string>>
	{
		new List<string> {"Argon Design System","../../assets/img/bootstrap.jpg","$2,500 USD","pending","60%","bg-red-200","bg-red-500" ,"text-orange-500" },
		new List<string> {"Angular Now UI Kit PRO","../../assets/img/angular.jpg","$1,800 USD","completed","100%","bg-emerald-200" ,"bg-emerald-500","text-emerald-500"   },
		new List<string> {"Black Dashboard Sketch","../../assets/img/sketch.jpg","$3,150 USD","delayed","73%","bg-red-200" ,"bg-red-500" ,"text-red-500" },
		new List<string> {"React Material Dashboard","../../assets/img/react.jpg","$4,400 USD","on schedule","90%","bg-teal-500" ,"bg-teal-500","text-teal-500"  },
		new List<string> {"Vue Material Dashboard","../../assets/img/vue.jpg","$2,200 USD","completed","100%","bg-emerald-200" ,"bg-emerald-500" ,"text-emerald-500" }
	};
}
