<div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
        <div class="rounded-t mb-0 px-4 py-3 border-0">
            <div class="flex flex-wrap items-center">
                <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                    <h3 class="font-semibold text-base text-blueGray-700">
                        Page visits
                    </h3>
                </div>
                <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
                    <button class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1"
                            type="button"
                            style="transition:all .15s ease">
                        See all
                    </button>
                </div>
            </div>
        </div>
        <div class="block w-full overflow-x-auto">



            <table class="items-center w-full bg-transparent border-collapse">
                <thead>
                    <tr>
                        @for (int i = 0; i < tableHeader.Length; i++)
                        {
                            <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                                @tableHeader[i]
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (List<string> row in tableContent)
                    {
                        <tr>
                            <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
                                @row[0]
                            </th>
                            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                @row[1]
                            </td>
                            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                                @row[2]
                            </td>
                            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">                                
                                @if (row[3] == "positive")                                {
                                   
                                    <i class="fas fa-arrow-down text-orange-500 mr-4"></i>
                                }
                                else
                                {
                                    <i class="fas fa-arrow-up text-emerald-500 mr-4"></i>
                                }
                                @row[4]
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        </div>
    </div>
</div>

@code {
    string[] tableHeader = new string[] { "Page name", "Visitors", "Unique Users", "Bounce Rate" };
    List<List<string>> tableContent = new List<List<string>>
    {
        new List<string> {"/argon/","4,569","340","positive","46,53%"  },
        new List<string> {"/argon/index.html","3,985","319","negative","46,53%"   },
        new List<string> {"/argon/charts.html","3,513","294 ","negative","36,49%"  },
        new List<string> {"/argon/tables.html ","2,050","147 ","positive","50,87%"  },
        new List<string> {"/argon/profile.html","1,795","190 ","negative","46,53%"  }
    };
}


 