@using BlazorTailwindDashboard.Models


<nav class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6">
	<div class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto">
		<NavbarSmall />
		<button class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
				type="button"
				@onclick=@(() => ToggleNavMenu("nav"))>
			<i class="fas fa-bars"></i>
		</button>
		<div class="md:flex md:flex-col md:items-stretch bg-white md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded @NavMenuCssClassNav"
			 id="example-collapse-sidebar">
			<div class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-blueGray-200">
				<div class="flex flex-wrap">
					<div class="w-6/12">
						<a class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
						   href="javascript:void(0)">
							Notus Blazor
						</a>
					</div>
					<div class="w-6/12 flex justify-end">
						<button type="button"
								class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
								@onclick=@(() => ToggleNavMenu("nav"))>
							<i class="fas fa-times"></i>
						</button>
					</div>
				</div>
			</div>
			<form class="mt-6 mb-4 md:hidden">
				<div class="mb-3 pt-0">
					<input type="text"
						   placeholder="Search"
						   class="border-0 px-3 py-2 h-12 border border-solid  border-blueGray-500 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-base leading-snug shadow-none outline-none focus:outline-none w-full font-normal" />
				</div>
			</form>
			<ul class="md:flex-col md:min-w-full flex flex-col list-none">
				@foreach (MenuItem menuItem in mainNavMenuList)
				{
					<li class="items-center">
						<a class="cursor-pointer text-blueGray-700 hover:text-pink-600 text-xs uppercase py-3 font-bold block"
					   href=@menuItem.Link>
							<i class="@menuItem.Icon opacity-75 mr-2 text-sm"></i>
							@menuItem.Title
						</a>
					</li>
				}
			</ul>
			<hr class="my-4 md:min-w-full" />
			<h6 class="md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline">
				No Layout
			</h6>
			<ul class="md:flex-col md:min-w-full flex flex-col list-none md:mb-4">
				@foreach (MenuItem menuItem in secondNavMenuList)
				{
					<li class="inline-flex">
						<a class="cursor-pointer text-blueGray-700 hover:text-blueGray-500 text-sm block mb-4 no-underline font-semibold"
					   href=@menuItem.Link>
							<i class="@menuItem.Icon mr-2 text-blueGray-400 text-base"></i>
							@menuItem.Title
						</a>
					</li>
				}
			</ul>
		</div>
	</div>
</nav>

@code {

	List<MenuItem> mainNavMenuList = new List<MenuItem>
	{
		new MenuItem { Title = "Dashboard", Icon = "fas fa-tv", Link="/" },
		new MenuItem { Title = "Settings", Icon = "fas fa-tools", Link="/settings" },
		new MenuItem { Title = "Tables", Icon = "fas fa-table" , Link="/tables"},
		new MenuItem { Title = "Maps", Icon = "fas fa-map-marked" , Link="/maps"}


	};

	List<MenuItem> secondNavMenuList = new List<MenuItem>
	{
		new MenuItem { Title = "Login", Icon = "fas fa-fingerprint" , Link="/login"},
		new MenuItem { Title = "Register", Icon = "fas fa-clipboard-list", Link="/register" },
		new MenuItem { Title = "Landing Page", Icon = "fas fa-newspaper", Link="/landing"  },
		new MenuItem { Title = "Profile Page", Icon = "fas fa-user-circle", Link="/profile"  }
	};

	List<MenuItem> linkNavMenuList = new List<MenuItem>
	{
		new MenuItem { Title = "Styles", Icon = "fas fa-paint-brush" },
		new MenuItem { Title = "CSS Components", Icon = "fab fa-css3-alt" },
		new MenuItem { Title = "VueJS", Icon = "fab fa-vuejs" },
		new MenuItem { Title = "React", Icon = "fab fa-react mr-2" },
		new MenuItem { Title = "Angular", Icon = "fab fa-angular" },
		new MenuItem { Title = "Javascript", Icon = "fab fa-js-square" }
	};

	private bool collapseNavMenu = true;


	private string? NavMenuCssClassNav => collapseNavMenu ? "hidden" : "block";


	private void ToggleNavMenu(string item)
	{
		switch (item)
		{
			case "nav":
				collapseNavMenu = !collapseNavMenu;
				break;
		}
	}
}
